.container {
  margin: 500px auto;
  width: 1000px;
}

video {
  width: 100%;
}

.plyr--full-ui input[type='range'] {
  font-family: sans-serif;
  color: indigo;
}

.plyr__control--overlaid {
  background: rgba(75, 0, 130, 0.8);
}

.plyr--video .plyr__control.plyr__tab-focus,
.plyr--video .plyr__control:hover,
.plyr--video .plyr__control[aria-expanded='true'] {
  background: indigo;
}

.plyr__control.plyr__tab-focus {
  box-shadow: 0 0 0 5px rgba(75, 0, 130, 0.5);
}

.plyr__menu__container
  .plyr__control[role='menuitemradio'][aria-checked='true']::before {
  background: indigo;
}
